services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: flask_demo
      MYSQL_ALLOW_EMPTY_PASSWORD: "no"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  app:
    build: .
    container_name: py-safeclockin
    ports:
      - "8080:8080"
    depends_on:
      - mysql-db
      - redis
    environment:
      MYSQL_USERNAME: root
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-rootpassword}
      MYSQL_ADDRESS: mysql-db:3306
    restart: unless-stopped

volumes:
  mysql_data:
  redis_data:
